{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}View All Events{% endblock %}

{% block content %}
	<div id="left">
	<a href="{% url 'manager:addEvent' %}">Add Event</a>
	{% for e in events %}
		<h3><a href="{% url 'manager:viewEvent' e.id %}">{{ e.title }}</a></h3>
		<ul>
			<li>Location: {{ e.location }}</li>
			<li>Date: {{ e.date_event_start }}{% if e.date_event_end != "" %} through {{ e.date_event_end }}{% endif %}</li>
			<li>Notes:
				<ul><li>{{ e.description }}</li></ul>
			</li>
		</ul>
	{% endfor %}
	</div>
	<div id="right">
	</div>
	
{% endblock %}